body{
    background-color: #6681ad;
}
h1{
    margin: .3em .3em .3em .3em;
    font-size: 1.7em;
    color: #16243a;
    font-family: 'Lora', serif;
    }
h2{
    margin: .3em .3em .3em .3em;
    font-size: 1.4em;
    color: #16243a;
    font-family: 'Lora', serif;
    }
h3{
    margin: .3em .3em .3em .3em;
    font-size: 1.15em;
    color: #16243a;
    font-family: 'Lora', serif;
    }

.userTag{
    position: fixed;
    top: 1em;
    right: 1em;
}

.picture{
    display: inline-block;
    margin: 0em 0em 0em 8em ;
    height: 10em;
    width: 11em;
    }
.icon{
    height: 2em;
    width: 2em;
    margin: 0em 0em .8em 0em;
}

.button{
    width: 8em;
    height: 3em;
    display: inline;
}

.category{
    width: 13em;
    height: 5em;    
}

.grid{
    margin: 0em 0em 0em 4em ;
    
}

.userOptions-group button {
    background-color:  #2f4b7a; /* Green background */
    border: 1px solid #16243a; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display: inline;
}
.userOptions-group:after {
    content: "";
    clear: both;
    display: table;
}

#post{
    height: 10em;
    width: 14em;
    font-size: 16pt;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
