body{
    background-color: #6681ad;

}
h1{
    margin: .3em .3em .3em .3em;
    font-size: 1.7em;
    color: #16243a;
    font-family: 'Lora', serif;
    }
h2{
    margin: .3em .3em .3em .3em;
    font-size: 1.4em;
    color: #16243a;
    font-family: 'Lora', serif;
    }
h3{
    margin: .3em .3em .3em .3em;
    font-size: 1.15em;
    color: #16243a;
    font-family: 'Lora', serif;
    }

.userTag{
    position: fixed;
    top: 1em;
    right: 1em;
}
.banner{
    max-width: 600px;
    margin: auto;
    padding: 0.2em;
    
    height: 170px;
    width: 600px;
    }

.center{
    max-width: 440px;
    margin: auto;
}

.grid{
    max-width: 500px;
    margin: auto;
}

.button{
    background-color: #2f4b7a;
    width: 8.6em;
    height: 3em;
    display: inline;
    font-size: 14px;   
}
.button:hover {
    background-color: #193562;
}

.logButton{
    display: inline;
    font-size: 14px;   
}
.logButton:hover {
    background-color: #193562;
}

.logs{
    position: relative;
    top: 1em;
    left:1em;
}

.memeWindow{
    max-width: 500px;
    margin: auto;
    width: 20em;
    height: 20em; 
    
}

.userOptions-group button {
    background-color:  #2f4b7a; /* Green background */
    border: 1px solid #16243a; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display: inline;
}


/* Dropdown Button */
.dropbtn {
    width: 8.6em;
    height: 3em;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    
    width: 8em;
    height: 3em;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
 
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
